
.cardF{

  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
  background-color: #f9f9f9;
}
// header form
.title{
  background-color: #EBCB06;
  padding: 5px 40px ;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title h2{
  margin-top: 25px;
  font-size: 25px;
  width: 175px;
  border-top: 1px solid black;
}
.title img{
  width: 70px;
}

.title .search{
  margin-top: 25px;
}


// FORMULARIO
form{
  margin: 20px 0;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: weight;
  font-style: normal;
  padding: 20px;

}
.titleForm {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
select{
  font-weight: lighter;
  font-family: inherit;
  font-size: 12px;
}
input[type="text"], input[type="date"], select, textarea{
  box-sizing: border-box;
  outline: none;
  color: #333333;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 12px;
  font-weight: lighter;
  height: 45px;
  background-color: #f1f1f1;
}
textarea{
  height: 200px;
}

button{
  margin-top: 20px;
}
button[type="submit"]{
  margin-right: 10px;

  cursor: pointer;
  transition: all .3s;

}

button:hover{
  background: #c8c8c8;
  color: black;
}
