
<body>

  <app-header></app-header>

      <div class="container">
        <form class="title">
          <h2>Gestão de compras</h2>
          <div class="search">
            <form>
              <input type="search"
              name="search"  placeholder="Buscar..." #termobusca="ngModel"
               ngModel
               (ngModelChange)="busca(termobusca.value)">
              <!-- <a><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon></a> -->

            </form>
            <i class="fas fa-search"></i>

          </div>
        </form>
        <div class="column-flex mat-elevation-z8">

        <app-list-cliente-management></app-list-cliente-management>
        </div>
      </div>

    <app-footer></app-footer>
    </body>
