
i{
  font-size: 15px;
  margin: 0 5px;
}
i.del{
  color: red
}
i.confirm{
  color: #0a791b
}
i.print{
  color: #18053b;
}
i:hover{
color:#989f64}
th{
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;

}
td{
  font-size: 12px;
  font-weight: lighter;
  padding-left: 30px;
}

table{
  background-color: #f1f1f1;

}
button{
  border: none;
}
.add{
  padding: 5px 15px;
  font-size: 13px;
  font-weight: lighter;
}
.tableDiv{
  overflow-x: auto;
}
