
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">
    <div class="logoDiv">
      <a>
        <img class="logo" src="../assets/marcos.png" alt="gestao" >
      </a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a  href="#" title="Marcos Diesel"> <i class="icon"><img class="icone" src="../../../assets/home.svg"></i></a></li>
      <li><a  class="active" href="#" title="Gestao"><i class="icon"><img class="icone" src="../../../assets/user.svg"></i></a></li>
      <li><a href="./Sobre.html" title="Sobre o projeto"> <i class="icon" ><img class="icone" src="../../../assets/out.svg"></i></a></li>

    </ul>
  </section>
