
html, body { height: 100%; }
body { margin: 0; padding: 0; box-sizing: border-box; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { margin: 0; padding: 0; box-sizing: border-box; font-family: Roboto, "Helvetica Neue", sans-serif; }



// Menu
.container{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: center;
}
// .logo{
//   /*Formatação da Logo */
//   float: left;
//   height: 70px;
//   margin-left: 25px;
//   padding-bottom: 5px;
// }
// .header {
//   display: flex;
//   justify-content: space-between;
//   padding: 15px 0;
//   background: #212529;
//   border-bottom-left-radius: 20px;
//   border-bottom-right-radius: 20px;
// // linear-gradient(72deg, #312296 5%, #171717 95%)
//   font-size: 17px;
// }
// .navbar a {
//   text-decoration: none;
//   color: #fff;
// }
// .navbar a.navbar-brand {
//   float: left;
//   height: inherit;
//   line-height: inherit;
//   padding: 0 30px;
//   font-size: 22px;
//   text-transform: uppercase;
//   font-weight: 400;
//   letter-spacing: 2px;
// }
// .navbar a.navbar-brand span {
//   font-size: 28px;
//   font-weight: 700;
// }
// .navbar ul {
//   float: right;
//   list-style: none;
//   height: inherit;
//   line-height: inherit;
//   padding-right: 20px;
// }
// .navbar ul li {
//   display: inline-block;
// }
// .navbar ul li a {
//   display: block;
//   text-align: center;
//   min-width: 120px;
//   padding: 0 10px;
// }
// .navbar ul li a:hover {
//   color: #FFE126;
// }
// .navbar .navbar-toggler {
//   display: none;
// }

// .navbar a.active{
//   color: #FFE126;
// }

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}


// @media (max-width: 800px) {
// #techImg{
//     display: none;
// }
// #techMobile{
//     display: block;
// }
// .navbar {
//     padding: 0;
//     background: linear-gradient(72deg, #312296 5%, #000000 95%);
//     font-size: 25px;
// }
// .navbar ul {
//     width: 100%;
//     padding: 5;
//     background: linear-gradient(72deg, #312296 5%, #000000 95%);
//     height: auto;
//     max-height: 0;
//     overflow: hidden;
//     transition: all ease-in-out 0.3s;

// }
// .navbar ul.open {
//     max-height: 100vh;
// }
// .navbar ul li {
//     width: 100%;
// }
// .navbar ul li a {
//     padding: 0;
// }
// .navbar .navbar-toggler {
//     display: block;
//     position: absolute;
//     height: 30px;
//     top: 20px;
//     right: 20px;
//     background-color: transparent;
//     color: #fff;
//     outline: none;
//     padding: 0 5px;
//     cursor: pointer;
//     border: none;
// }
// .navbar .navbar-toggler span,
// .navbar .navbar-toggler span::before,
// .navbar .navbar-toggler span::after {
//     display: block;
//     content: '';
//     background-color: #fff;
//     height: 3px;
//     width: 28px;
//     border-radius: 4px;
//     transition: all ease-in-out 0.3s;
// }
// .navbar .navbar-toggler span::before {
//     transform: translateY(-8px);
// }
// .navbar .navbar-toggler span::after {
//     transform: translateY(5px);
// }

// .navbar .navbar-toggler.open-navbar-toggler span {
//     background-color: transparent;


// }
// .navbar .navbar-toggler.open-navbar-toggler span::before {
//     transform: translateY(0px) rotate(45deg);

// }
// .navbar .navbar-toggler.open-navbar-toggler span::after {
//     transform: translateY(-3px) rotate(-45deg);

//   }
// }
footer{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

