
<table class="table table" id="tableEquipment">
  <thead>
    <tr>
      <th>ID </th>
      <th>DATA</th>
      <th>DESCRIÇÃO</th>
      <th>QUANTIA</th>
      <th>VALOR UNITARIO</th>
      <th>VALOR TOTAL</th>
      <th>MODALIDADE</th>
      <th>FORMA DE PAGAMENTO</th>
      <th>EMPRESA</th>
      <th>AUTORIZADORL</th>
      <th>SOLICITANTE</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of registros">
      <td> {{ item._id}} </td>
      <td> {{ item.date }} </td>
      <td> {{ item.product}} </td>
      <td> {{ item.quant}} </td>
      <td> {{ item.valueOne}} </td>
      <td> {{ item.valueMany}} </td>
      <td> {{ item.modality}} </td>
      <td> {{ item.formPag}} </td>
      <td> {{ item.empresa.name}} </td>
      <td> {{ item.authorizer}} </td>
      <td> {{ item.requester}} </td>

      <td class="fit">
        <button routerLink="/report/form" type="button" [queryParams]="{ id: item._id }"  class="btn btn-secondary">Editar</button>
        <button type="button"(click)="delete(item._id)" class="btn btn-danger">Deletar</button>

      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">Total de registros: {{ registros.length }} </td>
    </tr>
  </tfoot>
</table>
